<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/style.css" rel="stylesheet">    <!-- href is the path of the stylesheet -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
        <script src="https://kit.fontawesome.com/2dd61525fb.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Drowsy Driver Detection System - Drowsy List</title>
    </head>

    <body>
        <section class="header">
            <nav>
                <a href = "drowsy.html"><img src = "static/assets/banner.png"></a>
                <div class="nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href = "logout">LOGOUT</a></li>     <!--<li><a href = "logout.html">LOGOUT</a></li> -->
                        <li><a href = "home">HOME</a></li>
                        <li><a href = "about">ABOUT</a></li>
                        <li><a href = "drivers">DRIVERS</a></li>
                        <li><a href = "drowsy">DRIVER STATUS</a></li>
                        <!-- <li><a href = "accident">ACCIDENTS</a></li> -->
                        <li><a href = "contact">CONTACT</a></li>
                    
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <!-- Drowsy Drivers Page -->
            <div class = "drowsy">
                <h1>Driver Status</h1>
                <table class = "table" cellspacing="0">

                        <thead>
                            <tr>
                                <th><input type="text" class="search-input" placeholder="ID"></th>
                                <th><input type="text" class="search-input" placeholder="License"></th>
                                <th><input type="text" class="search-input" placeholder="Surname"></th>
                                <th><input type="text" class="search-input" placeholder="First Name"></th>
                                <th><input type="text" class="search-input" placeholder="Status"></th>
                                <th><input type="text" class="search-input" placeholder="Contact"></th>
                                <th><input type="text" class="search-input" placeholder="Location"></th>
                                <th><input type="text" class="search-input" placeholder="Time"></th>
                               </tr> 
                        </thead>
                                     
                    <tbody id = 'aTable'> 
                        {% for driver in list%}
                        <tr> 
                            <td>{{driver._id}}</td>
                            <td>{{driver.license}}</td>
                            <td>{{driver.lastName}}</td>
                            <td>{{driver.firstName}}</td>
                            <td>{{driver.status}}</td> 
                            <td>{{driver.contact}}</td>  
                            <td>{{driver.location}}</td> 
                            <td>{{driver.time}}</td> 

                        </tr>             
                        {% endfor%}
                    </tbody>
            </div>
            
        </section>


        <script src = "static/script.js"></script>

    </body>

</html>